In [3]:
def selection_sort(l):
    n = len(l)
    for i in range(n):
        min_idx = i
        for j in range(i+1, n):
            if l[j] > l[min_idx]:
                min_idx = j
        l[i], l[min_idx] = l[min_idx], l[i] 
    return l

In [4]:
print(selection_sort([10,12, 3, 7]))

[12, 10, 7, 3]

In [5]:
def less_than(a, b):
    return a < b

In [11]:
def greater_than(a, b):
    return a > b

In [19]:
def selection_sort(l, compare_with):
    n = len(l)
    for i in range(n):
        min_idx = i
        for j in range(i+1, n):
            if compare_with(l[j], l[min_idx]):
                min_idx = j
        l[i], l[min_idx] = l[min_idx], l[i] 
    return l

In [24]:
l = [10, 12, 3, 7]
selection_sort(l, less_than)
print(l)
selection_sort(l, greater_than)
print(l)

[3, 7, 10, 12]
[12, 10, 7, 3]

In [28]:
# we can take it even further, we can now sort tuples, dictionaries etc as well
def tuple_less_than(a, b):
    return sum(a) < sum(b)

In [27]:
l = [(4, 5), (7, 9), (2, 3), (9, 5)]
selection_sort(l, tuple_less_than)

[(2, 3), (4, 5), (9, 5), (7, 9)]

In [30]:
def dict_less_than(a, b):
    return a['age'] < b['age']

In [31]:
selection_sort(students, dict_less_than)

[{'name': 'saeed', 'age': 18},
 {'name': 'ali', 'age': 22},
 {'name': 'yasir', 'age': 27},
 {'name': 'ahmad', 'age': 33}]

# Python way of Sorting

In [33]:
# You have to understand this, in practice you will do this
students = [
    {'name': 'ali', 'age': 22},
    {'name': 'ahmad', 'age': 33},
    {'name': 'saeed', 'age': 18},
    {'name': 'yasir', 'age': 27},
    
]

In [39]:
def student_age(a):
    return a['age']

In [42]:
students.sort(key=student_age, reverse=True)
print(students)

[{'name': 'ahmad', 'age': 33}, {'name': 'yasir', 'age': 27}, {'name': 'ali', 'age': 22}, {'name': 'saeed', 'age': 18}]

# Sorting Objects of Custom Classes

In [47]:
class Student:
    def __init__(self, name, age):
        self.name = name
        self.age = age        
    def __str__(self):
        return f'{self.name}: {self.age}'

In [48]:
s1 = Student('saeed', 18)
s2 = Student('hanzala', 14)
s3 = Student('yasir', 28)
s = [s1, s2, s3]

In [52]:
# we don't even have to give the function a name -- just use the anonymous function like so:
s.sort(key=lambda x: x.age)

In [50]:
for i in s:
    print(i)

hanzala: 14
saeed: 18
yasir: 28

# Anonymous Function

In [51]:
print(students)
students.sort(key=lambda x: x['age'])
print(students)

[{'name': 'ahmad', 'age': 33}, {'name': 'yasir', 'age': 27}, {'name': 'ali', 'age': 22}, {'name': 'saeed', 'age': 18}]
[{'name': 'saeed', 'age': 18}, {'name': 'ali', 'age': 22}, {'name': 'yasir', 'age': 27}, {'name': 'ahmad', 'age': 33}]